/* reseta o css */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --vermelho: #ff0043;
    --branco: #ffffff;
    --preto: #000000;
}
html,
body{
    width: 100%;
    overflow: hidden;
}

header{
    width: 100%;
    height: 500px;
    background: var(--vermelho);
}
.conteudo{
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
nav{
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logomarca{
    font-size: 24px;
    color: var(--branco);
    cursor: pointer;
}

nav ul{
    display: flex;
    flex-direction: row;
}
nav ul li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

nav ul li a{
    color: var(--branco);
    text-decoration: none;
}
nav ul li a:hover{
    color:#dbdbdb;
}

nav ul button{
    border: 1px solid var(--branco);
    background: transparent;
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 30px;
    color: var(--branco);
    font-weight: bold;
    border-radius: 4px;
}
nav ul button:hover{
    transition: background, color 0.6s;
    background: var(--branco);
    color: #ff0043;
}

.conteudo .header-bloco{
    max-width: 1000px;
    min-width: 300px;
    height: 450px;
    background: var(--preto);
}
